"*":
  Hydrogen:
    grammarToKernel: "{\"python\":\"Python 3\"}"
    kernelspec: "{\"kernelspecs\":{\"python3\":{\"resource_dir\":\"/usr/local/lib/python3.4/dist-packages/ipykernel/resources\",\"spec\":{\"display_name\":\"Python 3\",\"argv\":[\"/usr/bin/python3\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"],\"language\":\"python\",\"env\":{}}}}}"
  "atom-beautify":
    general:
      _analyticsUserId: "01c1368c-6e89-476f-8135-132294ef41f5"
  "atom-material-ui":
    fonts:
      fontSize: 20
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "remove-all-keybindings"
      "disable-keybindings"
    ]
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 23
    invisibles: {}
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "94235aa4-f339-316d-4dc0-f619aa2163e2"
  "linter-flake8": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "one-light-ui": {}
  "vim-mode-plus":
    highlightSearch: true
  welcome:
    showOnStartup: false
