'body':
  # tab
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'

  # pane
  'shift-space p s h': 'pane:split-left-and-copy-active-item'
  'shift-space p s j': 'pane:split-down-and-copy-active-item'
  'shift-space p s k': 'pane:split-up-and-copy-active-item'
  'shift-space p s l': 'pane:split-right-and-copy-active-item'
  'shift-space p h': 'window:focus-pane-on-left'
  'shift-space p j': 'window:focus-pane-below'
  'shift-space p k': 'window:focus-pane-above'
  'shift-space p l': 'window:focus-pane-on-right'
  'shift-space p w': 'pane:close'
  'shift-space t w': 'tabs:close-tab'
  'shift-space p =': 'pane:increase-size'
  'shift-space p -': 'pane:decrease-size'

  # like emacs
  'ctrl-x ctrl-s': 'core:save'
  'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'
  'ctrl-x ctrl-c': 'window:close'
  'ctrl-x ctrl-d': 'tree-view:toggle-focus'
  'alt-x': 'command-palette:toggle'

'atom-text-editor':
  'ctrl-x ctrl-e': 'hydrogen:run'

# cancel
'.tool-panel.panel-left, .tool-panel.panel-right':
  'ctrl-c': 'tool-panel:unfocus'
'atom-text-editor , atom-text-editor[mini] ':
  'ctrl-c': 'editor:consolidate-selections'
'atom-text-editor.vim-mode-plus':
  'ctrl-c': 'vim-mode-plus:reset-normal-mode'
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'ctrl-c': 'vim-mode-plus:activate-normal-mode'
'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-c': 'core:cancel'
'atom-text-editor.autocomplete-active':
  'ctrl-c': 'autocomplete-plus:cancel'
'.go-to-line atom-text-editor[mini]':
  'ctrl-c': 'core:cancel'
'.platform-darwin, .platform-win32, .platform-linux':
  'ctrl-c': 'core:cancel'
