'body':
  # tab
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'

  # pane
  'ctrl-w': 'unset'
  'shift-space p s h': 'pane:split-left-and-copy-active-item'
  'shift-space p s j': 'pane:split-down-and-copy-active-item'
  'shift-space p s k': 'pane:split-up-and-copy-active-item'
  'shift-space p s l': 'pane:split-right-and-copy-active-item'
  'shift-space p h': 'window:focus-pane-on-left'
  'shift-space p j': 'window:focus-pane-below'
  'shift-space p k': 'window:focus-pane-above'
  'shift-space p l': 'window:focus-pane-on-right'
  'shift-space p d': 'pane:close'
  'shift-space t d': 'tabs:close-tab'
  'shift-space p =': 'pane:increase-size'
  'shift-space p -': 'pane:decrease-size'
  'shift-space t t': 'tree-view:toggle'
  'shift-space t f': 'tree-view:toggle-focus'

  # command-palette
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

  # like emacs
  'ctrl-x ctrl-s': 'core:save'
  'ctrl-x ctrl-w': 'tree-view:rename'
  'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'
  'ctrl-x ctrl-q': 'window:close'
  'ctrl-x ctrl-x': 'script:run'
  'alt-x': 'command-palette:toggle'

  # disable menu bar
  'alt': 'abort!'

  # disable ctrl-k prefix keymap
  'ctrl-k ctrl-alt-w': 'unset!'
  'ctrl-k ctrl-down': 'unset!'
  'ctrl-k ctrl-left': 'unset!'
  'ctrl-k ctrl-n': 'unset!'
  'ctrl-k ctrl-p': 'unset!'
  'ctrl-k ctrl-right': 'unset!'
  'ctrl-k ctrl-up': 'unset!'
  'ctrl-k ctrl-w': 'unset!'
  'ctrl-k down': 'unset!'
  'ctrl-k left': 'unset!'
  'ctrl-k right': 'unset!'
  'ctrl-k up': 'unset!'

# disable ctrl-k prefix keymap
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-k ctrl-0': 'unset!'
  'ctrl-k ctrl-1': 'unset!'
  'ctrl-k ctrl-2': 'unset!'
  'ctrl-k ctrl-3': 'unset!'
  'ctrl-k ctrl-4': 'unset!'
  'ctrl-k ctrl-5': 'unset!'
  'ctrl-k ctrl-6': 'unset!'
  'ctrl-k ctrl-7': 'unset!'
  'ctrl-k ctrl-8': 'unset!'
  'ctrl-k ctrl-9': 'unset!'

'.platform-win32, .platform-linux':
  'ctrl-k ctrl-b': 'unset!'

# dictionary
'atom-workspace':
  'shift-space d': 'japanese-dictionary:open-by-input'

# vim-mode
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-w ctrl-c': 'unset!'

# autocomplete
'body atom-text-editor.autocomplete-active':
  'ctrl-k': 'autocomplete-plus:move-up'
  'ctrl-j': 'autocomplete-plus:move-down'
  'pageup': 'autocomplete-plus:page-up'
  'pagedown': 'autocomplete-plus:page-down'
  'home': 'autocomplete-plus:move-to-top'
  'end': 'autocomplete-plus:move-to-bottom'

'atom-text-editor':
  'shift-space h e': 'hydrogen:run'
  'shift-space h a': 'hydrogen:run-all'
  'shift-space h c': 'hydrogen:show-kernel-commands'
  'ctrl-k ctrl-d': 'unset!'
  'ctrl-k ctrl-l': 'unset!'
  'ctrl-k ctrl-u': 'unset!'

'.tree-view':
  'ctrl-k h': 'unset!'
  'ctrl-k j': 'unset!'
  'ctrl-k k': 'unset!'
  'ctrl-k l': 'unset!'
# cancel
'.tool-panel.panel-left, .tool-panel.panel-right':
  'ctrl-c': 'tool-panel:unfocus'
'atom-text-editor , atom-text-editor[mini] ':
  'ctrl-c': 'editor:consolidate-selections'
'atom-text-editor.vim-mode-plus':
  'ctrl-c': 'vim-mode-plus:reset-normal-mode'
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'ctrl-c': 'vim-mode-plus:activate-normal-mode'
'.tree-view-dialog atom-text-editor[mini]':
  'ctrl-c': 'core:cancel'
'atom-text-editor.autocomplete-active':
  'ctrl-c': 'autocomplete-plus:cancel'
'.go-to-line atom-text-editor[mini]':
  'ctrl-c': 'core:cancel'
'.platform-darwin, .platform-win32, .platform-linux':
  'ctrl-c': 'core:cancel'
